/.venv
/.llmenv
/.vscode
/multirun
/outputs
/representations
/results
/data
/.cache
/runs
/figs
/smollm

build/
nlp/multirun
nlp/outputs
nlp/results
nlp/saved_test_configurations

graphs/data*
graphs/output*
graphs/notebooks/*.tex
graphs/notebooks/*.pdf

jobs*


*.env
*.png
!figures/Rankings.png
!figures/ReSi_benchmark.png

._.DS_Store
.DS_Store

.idea/*
__pycache__/*
**__pycache__**
**.ipynb_checkpoints**

*.egg-info/
*build
._.DS_Store
.DS_Store
vision/data/shortcuts/example_imgs
vision/_train_submit_to_cluster.py

experiments/*
experiments/paper_results/*/parquet
!experiments/paper_results/*.csv

tables/*
figures/*

manual_data_introspection
*_pac_api.py
vision/_model_status_check.py
vision/_train_model_submission.py
vision/_simple_submission_print.py
vision/_merge_parquets.py
vision/_plot_tables.py
